<% layout('layouts/boilerplate')%> 
<div class="row mt-5">
    <h1 class="text-center">New Hike</h1>
    <div class="col-md-6 offset-md-3">

        <form action="/hikes" method="POST" novalidate id="hikeForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control shadow-none" type="text" id="title" name="hike[title]" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control shadow-none" type="text" id="location" name="hike[location]" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="pass">Pass</label>
                <select class="form-select shadow-none" id="pass" name="hike[pass]">
                    <% for(let pass of passes) { %>
                        <option value="<%=pass%>"><%=pass%></option>
                    <% } %> 
                </select>
            </div>
            <div class="row">
                <label class="form-label mb-3">Facilities</label>
                    <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="typeHike" name="facility[trail]" checked>
                            <label class="form-check-label" for="typeHike">Trail</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="typePark" name="facility[park]">
                            <label class="form-check-label" for="typePark">Park</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="beach" name="facility[beachAccess]">
                            <label class="form-check-label" for="beach">Beach access</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="picnic" name="facility[picnicArea]">
                            <label class="form-check-label" for="picnic">Picnic Area</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="barbeque" name="facility[barbeque]">
                            <label class="form-check-label" for="barbeque">Barbeque</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="children" name="facility[childrenPlayground]">
                            <label class="form-check-label" for="children">Children Playground</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none" type="checkbox" id="dogs" name="facility[dogsAllowed]" checked>
                            <label class="form-check-label" for="dogs">Dogs are allowed</label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label" for="restrooms">Restrooms</label>
                    <select class="form-select shadow-none" id="restrooms" name="facility[restrooms]">
                        <% for(let restroom of restrooms) { %>
                            <option value="<%=restroom%>"><%=restroom%></option>
                        <% } %> 
                    </select>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control textarea-fit shadow-none" type="text" id="description" name="hike[description]" maxlength="1000" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Photos</label>
                <input class="form-control shadow-none" type="file" name="image" id="images" accept=".jpeg, .jpg, .png" multiple>
                <div class="invalid-feedback">
                    You can upload no more than 2 images (.jpg, .jpeg, .png only).
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-success btn-primary-custom">Add Hike</button>
                <a class="btn btn-light" href="/hikes">Cancel</a>
            </div>
            
        </form>

    </div>
</div>

<script src="/script/textareaFitContent.js"></script>
<script src="/script/hikeValidation.js"></script>
<script src="/script/new.js"></script>


