<% layout('layouts/boilerplate')%> 
<div class="row mt-5">
    <h1 class="text-center">New Hike</h1>
    <div class="col-xl-6 col-lg-8 offset-xl-3 offset-lg-2">

        <form action="/hikes" method="POST" novalidate id="hikeForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control shadow-none" type="text" id="title" name="hike[title]" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control shadow-none" type="text" id="location" name="hike[location]" maxlength="100" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="pass">Pass</label>
                <select class="form-select shadow-none" id="pass" name="hike[pass]">
                    <% for(let pass of passes) { %>
                        <option value="<%=pass%>"><%=pass%></option>
                    <% } %> 
                </select>
            </div>
            <div class="row">
                <label class="form-label mb-3">Facilities</label>
                    <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="trail" checked>
                            <label class="form-check-label" for="trail">Trail</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="park">
                            <label class="form-check-label" for="park">Park</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="beachAccess">
                            <label class="form-check-label" for="beachAccess">Beach access</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="picnicArea">
                            <label class="form-check-label" for="picnicArea">Picnic Area</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="barbeque">
                            <label class="form-check-label" for="barbeque">Barbeque</label>
                        </div>
                </div>
                <div class="col-4">
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="childrenPlayground">
                            <label class="form-check-label" for="childrenPlayground">Children Playground</label>
                        </div>
                        <div class="mb-3">
                            <input class="form-check-input shadow-none facility" type="checkbox" id="dogsAllowed" checked>
                            <label class="form-check-label" for="dogsAllowed">Dogs are allowed</label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label" for="restrooms">Restrooms</label>
                    <select class="form-select shadow-none" id="restrooms" name="hike[facilities][restrooms]">
                        <% for(let restroom of restrooms) { %>
                            <option value="<%=restroom%>"><%=restroom%></option>
                        <% } %> 
                    </select>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control textarea-fit shadow-none" type="text" id="description" name="hike[description]" maxlength="1000"></textarea>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Photos</label>
                <input class="form-control shadow-none" type="file" name="image" id="images" accept=".jpeg, .jpg, .png" multiple>
                <div class="invalid-feedback">
                    You can upload no more than 2 images (.jpg, .jpeg, .png only).
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3 d-grid gap-2">
                <button class="btn btn-success btn-primary-custom">Add Hike</button>
                <a class="btn btn-secondary" href="/hikes">Cancel</a>
            </div>
            
        </form>

    </div>
</div>

<script src="/script/textareaFitContent.js"></script>
<script src="/script/hikeValidation.js"></script>
<script src="/script/new.js"></script>
<script src="/script/facility.js"></script>


