#cluster-map {
  width: 100%;
  /* height: 100%; */
  height: 700px;
}

#hike-map {
  width: 100%;
  height: 50vh;
}

.navbar-footer-custom {
  background-color: #0c5485; /*#495057;*/
}

.nav-link-custom {
  color: white;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link-custom:hover {
  color: #ff4438;
}

.btn-danger-custom:hover {
  background-color: black;
  border-color: black;
}

.btn-primary-custom {
  background-color: #f2bd55;
  border-color: #f2bd55;
}

.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus {
  background-color: #ff4438;
  border-color: #ff4438;
}

.page-link-custom {
  color: #0c5485;
}

.page-link-custom:hover {
  color: #0c5485;
}

.current-page {
  font-weight: 700;
}

#carouselBack {
  background-color: white;
}

.carouselItem {
  height: 70vh;
}

.multiline-text {
  white-space: pre-line;
  overflow-wrap: break-word;
}

/*
color: https://coolors.co/0a0908-22333b-f2f4f3-a9927d-5e503f

black: 0a0908
blue: 22333b
white: f2f4f3
light-brown: a9927d
brown: 5e503f

*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
